In [2]:
# Data Visualizations
# 1) Software/tech jobs split up by state (identify lowest steps)
# 2) Software/tech jobs split up by city in the midwestern states 
# 3) Number of software/tech students per Midwestern university

In [3]:
# Data Source(s):
# US Bureau of Labor Statistics (May 2019)
# National Center for Education Statistics (NCES) (2018-2019)

In [5]:
import os.path
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
data = "/Users/skasralikar/Desktop/github/rmds/datasets"
state = pd.read_csv(os.path.join(data,'job_state.csv'), sep =',')
city = pd.read_csv(os.path.join(data, 'job_city.csv'), sep =',')
majors = pd.read_csv(os.path.join(data, 'CS_majors.csv'), sep = ',')
statecode = pd.read_csv(os.path.join(data, 'state_code.csv'),sep = ',')

In [18]:
state

,area_title,occ_title,tot_emp
0,Alabama,All Occupations,"1,974,170"
1,Alabama,Management Occupations,"83,760"
2,Alabama,Chief Executives,"1,320"
3,Alabama,General and Operations Managers,"30,790"
4,Alabama,Legislators,"1,110"
...,...,...,...
36377,Virgin Islands,Crane and Tower Operators,40
36378,Virgin Islands,Industrial Truck and Tractor Operators,60
36379,Virgin Islands,"Laborers and Freight, Stock, and Material Move...",470
36380,Virgin Islands,"Packers and Packagers, Hand",120
36381,Virgin Islands,Stockers and Order Fillers,630