In [1]:
# Data Visualizations
# 1) Software/tech jobs split up by state (identify lowest steps)
# use state heat map and do bar chart
# 2) Software/tech jobs split up by city in the midwestern states 
# use city heat map for USA, city heat map for 4 midwestern states, and bar chart for midwestern states =
# 3) Number of software/tech students per Midwestern university 
#bar chart (cute interactive)

In [2]:
# Data Source(s):
# US Bureau of Labor Statistics (May 2019)
# National Center for Education Statistics (NCES) (2018-2019)

In [4]:
import os.path
import pandas as pd 
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
data = "/Users/skasralikar/Desktop/github/rmds/datasets"
state = pd.read_csv(os.path.join(data,'job_state.csv'), sep =',')
city = pd.read_csv(os.path.join(data, 'job_city.csv'), sep =',')
majors = pd.read_csv(os.path.join(data, 'CS_majors.csv'), sep = ',')
statecode = pd.read_csv(os.path.join(data, 'state_code.csv'),sep = ',')

In [6]:
state.isnull().any()
city.isnull().any()

area_title    False
City          False
State         False
State          True
occ_title     False
tot_emp       False
dtype: bool

In [7]:
majors.isnull().any()

UnitID                                                              False
Institution Name                                                    False
FIPS state code (HD2018)                                            False
Grand total (EF2018CP  14.0000-Engineering  Undergraduate total)     True
Unnamed: 4                                                           True
dtype: bool

In [8]:
#define tech values
tech = "Computer and Information Systems Managers|Computer and Mathematical Occupations|Computer Occupations, All Other"

In [9]:
#filter out tech jobs from original dataframe
statetech = state[state['occ_title'].str.contains(tech)]

In [10]:
#job_state.csv string values into numerical

#strip unwanted string values
statetech['tot_emp'] = statetech['tot_emp'].str.rstrip('**')
statetech['tot_emp'] = statetech['tot_emp'].str.replace(',','')

#convert string into integer and replace NaN vals with 0
statetech['tot_emp'] = pd.to_numeric(statetech['tot_emp'], errors ='coerce')
statetech = statetech.replace(np.nan, 0, regex=True)

#sum tech jobs per state
statetech = statetech.groupby(['area_title']).sum()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
statetech

                       tot_emp
area_title
Alabama                49960.0
Alaska                  6200.0
Arizona               114620.0
Arkansas               25580.0
California            803270.0
Colorado              144970.0
Connecticut            59420.0
Delaware               17870.0
District of Columbia   47690.0
Florida               249190.0
Georgia               191840.0
Guam                     890.0
Hawaii                 13580.0
Idaho                  18400.0
Illinois              219270.0
Indiana                70920.0
Iowa                   44150.0
Kansas                 41080.0
Kentucky               39750.0
Louisiana              26350.0
Maine                  14470.0
Maryland              160270.0
Massachusetts         166820.0
Michigan              132540.0
Minnesota             113070.0
Mississippi            15090.0
Missouri               95070.0
Montana                 9970.0
Nebraska               37150.0
Nevada                 26270.0
New Hampshire          26820.0
New Jersey            170060.0
New Mexico             18550.0
New York              306390.0
North Carolina        163810.0
North Dakota            8570.0
Ohio                  180870.0
Oklahoma               38080.0
Oregon                 64710.0
Pennsylvania          196720.0
Puerto Rico            14410.0
Rhode Island           17590.0
South Carolina         48990.0
South Dakota            8850.0
Tennessee              71060.0
Texas                 439890.0
Utah                   69790.0
Vermont                 8060.0
Virgin Islands           480.0
Virginia              244720.0
Washington            198930.0
West Virginia          14520.0
Wisconsin              87950.0
Wyoming                 3560.0

In [12]:
citytech = city[city['occ_title'].str.contains(tech)]

In [13]:
citytech = citytech.drop(['City', 'State'], axis = 1)

In [14]:
#city_state.csv string values into numerical

#strip unwanted string values
citytech['tot_emp'] = citytech['tot_emp'].str.rstrip('**')
citytech['tot_emp'] = citytech['tot_emp'].str.replace(',','')

#convert string into integer and replace NaN vals with 0
citytech['tot_emp'] = pd.to_numeric(citytech['tot_emp'], errors ='coerce')
citytech = citytech.replace(np.nan, 0, regex=True)

#sum tech jobs per city per state
citytech = citytech.groupby(['area_title']).sum()

In [15]:
citytech

                                   tot_emp
area_title
Abilene, TX                          720.0
Aguadilla-Isabela, PR               1010.0
Akron, OH                          10970.0
Albany, GA                           880.0
Albany, OR                           390.0
...                                    ...
Yakima, WA                           890.0
York-Hanover, PA                    3660.0
Youngstown-Warren-Boardman, OH-PA   2500.0
Yuba City, CA                        500.0
Yuma, AZ                             930.0

[395 rows x 1 columns]

In [16]:
majors

,UnitID,Institution Name,FIPS state code (HD2018),Grand total (EF2018CP 14.0000-Engineering Undergraduate total),Unnamed: 4
0,177834,A T Still University of Health Sciences,29,NaN,NaN
1,180203,Aaniiih Nakoda College,30,NaN,NaN
2,491464,ABC Adult School,6,NaN,NaN
3,493105,ABC Adult School - Cabrillo Lane,6,NaN,NaN
4,459523,ABC Beauty Academy,48,NaN,NaN
...,...,...,...,...,...
6697,413820,Yukon Beauty College Inc,40,NaN,NaN
6698,451237,Z Hair Academy,20,NaN,NaN
6699,204255,Zane State College,39,NaN,NaN
6700,458575,Zaytuna College,6,NaN,NaN
6701,486248,ZMS The Academy,6,NaN,NaN

In [17]:
majors.isnull().any()

UnitID                                                              False
Institution Name                                                    False
FIPS state code (HD2018)                                            False
Grand total (EF2018CP  14.0000-Engineering  Undergraduate total)     True
Unnamed: 4                                                           True
dtype: bool

In [18]:
majors = majors.drop(['UnitID', 'Unnamed: 4'], axis = 1)
majors = majors.replace(np.nan, 0, regex=True)

In [19]:
majors

,Institution Name,FIPS state code (HD2018),Grand total (EF2018CP 14.0000-Engineering Undergraduate total)
0,A T Still University of Health Sciences,29,0.0
1,Aaniiih Nakoda College,30,0.0
2,ABC Adult School,6,0.0
3,ABC Adult School - Cabrillo Lane,6,0.0
4,ABC Beauty Academy,48,0.0
...,...,...,...
6697,Yukon Beauty College Inc,40,0.0
6698,Z Hair Academy,20,0.0
6699,Zane State College,39,0.0
6700,Zaytuna College,6,0.0
6701,ZMS The Academy,6,0.0

In [40]:
statecode

                VariableName  Value            ValueLabel
0   FIPS state code (HD2018)      1               Alabama
1   FIPS state code (HD2018)      2                Alaska
2   FIPS state code (HD2018)      4               Arizona
3   FIPS state code (HD2018)      5              Arkansas
4   FIPS state code (HD2018)      6            California
5   FIPS state code (HD2018)      8              Colorado
6   FIPS state code (HD2018)      9           Connecticut
7   FIPS state code (HD2018)     10              Delaware
8   FIPS state code (HD2018)     11  District of Columbia
9   FIPS state code (HD2018)     12               Florida
10  FIPS state code (HD2018)     13               Georgia
11  FIPS state code (HD2018)     15                Hawaii
12  FIPS state code (HD2018)     16                 Idaho
13  FIPS state code (HD2018)     17              Illinois
14  FIPS state code (HD2018)     18               Indiana
15  FIPS state code (HD2018)     19                  Iowa
16  FIPS state code (HD2018)     20                Kansas
17  FIPS state code (HD2018)     21              Kentucky
18  FIPS state code (HD2018)     22             Louisiana
19  FIPS state code (HD2018)     23                 Maine
20  FIPS state code (HD2018)     24              Maryland
21  FIPS state code (HD2018)     25         Massachusetts
22  FIPS state code (HD2018)     26              Michigan
23  FIPS state code (HD2018)     27             Minnesota
24  FIPS state code (HD2018)     28           Mississippi
25  FIPS state code (HD2018)     29              Missouri
26  FIPS state code (HD2018)     30               Montana
27  FIPS state code (HD2018)     31              Nebraska
28  FIPS state code (HD2018)     32                Nevada
29  FIPS state code (HD2018)     33         New Hampshire
30  FIPS state code (HD2018)     34            New Jersey
31  FIPS state code (HD2018)     35            New Mexico
32  FIPS state code (HD2018)     36              New York
33  FIPS state code (HD2018)     37        North Carolina
34  FIPS state code (HD2018)     38          North Dakota
35  FIPS state code (HD2018)     39                  Ohio
36  FIPS state code (HD2018)     40              Oklahoma
37  FIPS state code (HD2018)     41                Oregon
38  FIPS state code (HD2018)     42          Pennsylvania
39  FIPS state code (HD2018)     44          Rhode Island
40  FIPS state code (HD2018)     45        South Carolina
41  FIPS state code (HD2018)     46          South Dakota
42  FIPS state code (HD2018)     47             Tennessee
43  FIPS state code (HD2018)     48                 Texas
44  FIPS state code (HD2018)     49                  Utah
45  FIPS state code (HD2018)     50               Vermont
46  FIPS state code (HD2018)     51              Virginia
47  FIPS state code (HD2018)     53            Washington
48  FIPS state code (HD2018)     54         West Virginia
49  FIPS state code (HD2018)     55             Wisconsin
50  FIPS state code (HD2018)     56               Wyoming

In [20]:
#graph time

In [21]:
statetech

                       tot_emp
area_title
Alabama                49960.0
Alaska                  6200.0
Arizona               114620.0
Arkansas               25580.0
California            803270.0
Colorado              144970.0
Connecticut            59420.0
Delaware               17870.0
District of Columbia   47690.0
Florida               249190.0
Georgia               191840.0
Guam                     890.0
Hawaii                 13580.0
Idaho                  18400.0
Illinois              219270.0
Indiana                70920.0
Iowa                   44150.0
Kansas                 41080.0
Kentucky               39750.0
Louisiana              26350.0
Maine                  14470.0
Maryland              160270.0
Massachusetts         166820.0
Michigan              132540.0
Minnesota             113070.0
Mississippi            15090.0
Missouri               95070.0
Montana                 9970.0
Nebraska               37150.0
Nevada                 26270.0
New Hampshire          26820.0
New Jersey            170060.0
New Mexico             18550.0
New York              306390.0
North Carolina        163810.0
North Dakota            8570.0
Ohio                  180870.0
Oklahoma               38080.0
Oregon                 64710.0
Pennsylvania          196720.0
Puerto Rico            14410.0
Rhode Island           17590.0
South Carolina         48990.0
South Dakota            8850.0
Tennessee              71060.0
Texas                 439890.0
Utah                   69790.0
Vermont                 8060.0
Virgin Islands           480.0
Virginia              244720.0
Washington            198930.0
West Virginia          14520.0
Wisconsin              87950.0
Wyoming                 3560.0

In [35]:
cbsa = gpd.read_file(os.path.join(data, 'cbsa/cb_2018_us_cbsa_20m.shp'), sep=',')
statemap = gpd.read_file(os.path.join(data, 'state/cb_2018_us_state_5m.shp'), sep=',')
ua = gpd.read_file(os.path.join(data, 'ua/cb_2018_us_ua10_500k.shp'), sep=',')

,UACE10,AFFGEOID10,GEOID10,NAME10,LSAD10,UATYP10,ALAND10,AWATER10,geometry
0,88732,400C100US88732,88732,"Tucson, AZ",75,U,915276150,2078695,"MULTIPOLYGON (((-110.81345 32.11910, -110.7987..."
1,01819,400C100US01819,01819,"Alturas, CA",76,C,4933312,16517,"MULTIPOLYGON (((-120.54610 41.51264, -120.5459..."
2,22366,400C100US22366,22366,"Davenport, IA--IL",75,U,357345121,21444164,"MULTIPOLYGON (((-90.36678 41.53636, -90.36462 ..."
3,93322,400C100US93322,93322,"Waynesboro, PA--MD",76,C,45455957,88872,"MULTIPOLYGON (((-77.50746 39.71577, -77.50605 ..."
4,02548,400C100US02548,02548,"Angola, IN",76,C,23646957,3913803,"MULTIPOLYGON (((-85.01157 41.59300, -85.00589 ..."
...,...,...,...,...,...,...,...,...,...
3596,57395,400C100US57395,57395,"Milton, DE",76,C,3147288,167254,"POLYGON ((-75.32719 38.77206, -75.31976 38.776..."
3597,85390,400C100US85390,85390,"Sugarmill Woods, FL",76,C,27203875,0,"MULTIPOLYGON (((-82.51716 28.75400, -82.51339 ..."
3598,46639,400C100US46639,46639,"Lake Conroe Eastshore, TX",76,C,18747170,63639,"MULTIPOLYGON (((-95.57872 30.40884, -95.57692 ..."
3599,15886,400C100US15886,15886,"Checotah, OK",76,C,3259478,0,"POLYGON ((-95.53799 35.47168, -95.53998 35.472..."
3600,22933,400C100US22933,22933,"De Funiak Springs, FL",76,C,17563989,691086,"MULTIPOLYGON (((-86.13076 30.75629, -86.12938 ..."